# Preprocessing 
- Import Pandas for CSV reading and manipulation of dataset 
- Investigate dataset features 
- Conversion of column data to reduce dataset size 
- Combine datasets for recommendation system
- Find initial important and prioritised features for the system

In [1]:
import pandas as pd

# Using double backslashes to decode (instead of unicode escape sequence)
train_movies_df = pd.read_csv("C:\\Users\\Jrv12\\Desktop\\Recommendation System\\recommendationSystem\\datasets\\tmdb_5000_movies.csv")
train_credits_df = pd.read_csv("C:\\Users\\Jrv12\\Desktop\\Recommendation System\\recommendationSystem\\datasets\\tmdb_5000_credits.csv")

# Merge Feature 
- Attempt to find most common feature to merge datasets 
- This simplifies the dataset manipulation process
- Furthermore, analysis can occur as a whole
- Initial visualisation

In [2]:
def printHead():
    print(train_movies_df.head(5))
    print(train_credits_df.head(5))
    
printHead()

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124
   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

In [3]:
print(train_movies_df.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [4]:
print(train_credits_df.columns)

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [5]:
# Find similar column to attempt merge 
print(train_movies_df.head(5)["title"])
print(train_credits_df.head(5)["title"])

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                                 John Carter
Name: title, dtype: object
0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                                 John Carter
Name: title, dtype: object

- From face-value the dataset can be combined on the title as a unique feature in both datasets.
- A negative of this action could be duplicate titles which will be required to be checked.
- Furthermore, information may be lost if cannot merge the datasets on a unique column.

In [6]:
# Merge datasets based on title information
movies = train_movies_df.merge(train_credits_df, on ="title")
print(movies.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

- Successful merge of information as shown above

In [7]:
# Show combination of datasets
def printStats():
    print(movies.describe(include='all'))
printStats()

              budget                         genres  \
count   4.809000e+03                           4809
unique           NaN                           1175
top              NaN  [{"id": 18, "name": "Drama"}]
freq             NaN                            372
mean    2.902780e+07                            NaN
std     4.070473e+07                            NaN
min     0.000000e+00                            NaN
25%     7.800000e+05                            NaN
50%     1.500000e+07                            NaN
75%     4.000000e+07                            NaN
max     3.800000e+08                            NaN

                                 homepage             id keywords  \
count                                1713    4809.000000     4809
unique                               1691            NaN     4222
top     http://www.missionimpossible.com/            NaN       []
freq                                    4            NaN      412
mean                                  NaN   57120.571429      NaN
std                                   NaN   88653.369849      NaN
min                                   NaN       5.000000      NaN
25%                                   NaN    9012.000000      NaN
50%                                   NaN   14624.000000      NaN
75%                                   NaN   58595.000000      NaN
max                                   NaN  459488.000000      NaN

       original_language   original_title  \
count               4809             4809
unique                37             4801
top                   en  Out of the Blue
freq                4510                4
mean                 NaN              NaN
std                  NaN              NaN
min                  NaN              NaN
25%                  NaN              NaN
50%                  NaN              NaN
75%                  NaN              NaN
max                  NaN              NaN

                                                 overview   popularity  \
count                                                4806  4809.000000
unique                                               4800          NaN
top     Gang-du is a dim-witted man working at his fat...          NaN
freq                                                    2          NaN
mean                                                  NaN    21.491664
std                                                   NaN    31.803366
min                                                   NaN     0.000000
25%                                                   NaN     4.667230
50%                                                   NaN    12.921594
75%                                                   NaN    28.350529
max                                                   NaN   875.581305

       production_companies  ...      runtime  \
count                  4809  ...  4807.000000
unique                 3697  ...          NaN
top                      []  ...          NaN
freq                    352  ...          NaN
mean                    NaN  ...   106.882255
std                     NaN  ...    22.602535
min                     NaN  ...     0.000000
25%                     NaN  ...    94.000000
50%                     NaN  ...   103.000000
75%                     NaN  ...   118.000000
max                     NaN  ...   338.000000

                                spoken_languages    status  \
count                                       4809      4809
unique                                       544         3
top     [{"iso_639_1": "en", "name": "English"}]  Released
freq                                        3175      4801
mean                                         NaN       NaN
std                                          NaN       NaN
min                                          NaN       NaN
25%                                          NaN       NaN
50%                                          NaN       NaN
75%                                          NaN       NaN
max                                          NaN       NaN

                       tagline     title vote_average    vote_count  \
count                     3965      4809  4809.000000   4809.000000
unique                    3944      4800          NaN           NaN
top     Based on a true story.  The Host          NaN           NaN
freq                         3         4          NaN           NaN
mean                       NaN       NaN     6.092514    690.331670
std                        NaN       NaN     1.193989   1234.187111
min                        NaN       NaN     0.000000      0.000000
25%                        NaN       NaN     5.600000     54.000000
50%                        NaN       NaN     6.200000    235.000000
75%                        NaN       NaN     6.800000    737.000000
max                        NaN       NaN    10.000000  13752.000000

             movie_id  cast  crew
count     4809.000000  4809  4809
unique            NaN  4761  4776
top               NaN    []    []
freq              NaN    43    28
mean     57120.571429   NaN   NaN
std      88653.369849   NaN   NaN
min          5.000000   NaN   NaN
25%       9012.000000   NaN   NaN
50%      14624.000000   NaN   NaN
75%      58595.000000   NaN   NaN
max     459488.000000   NaN   NaN

[11 rows x 23 columns]

# Null Column Removal
- Find null column data and remove or replace with relevant information 
- As shown below, homepage, overview, tagline, release_date, runtime consist of null information

- Null String information can be replaced easily, categorising all null columns with a similar replacement for identification 
- Null Int data is replaced by a -1 column for an unknown category 

- Identification of these data categories in the future is therefore easier due to a same column item. Furthermore, this prevents issues with analysis and visualisation.

In [8]:
# Helps preprocessing elements 
def printMoviesIsNull():
    print(movies.isnull().sum())
printMoviesIsNull()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [9]:
# Fill Missing Elements
def fillMissingValues():
    movies.fillna({"homepage": -1}, inplace=True)
    movies.fillna({"overview": -1}, inplace=True)
    movies.fillna({"release_date": -1}, inplace=True)
    movies.fillna({"runtime": -1}, inplace=True)
    movies.fillna({"tagline": -1}, inplace=True)
fillMissingValues()

- Shows removed null fields

In [10]:
# Update Missing Elements
def printMoviesIsNull():
    print(movies.isnull().sum())
printMoviesIsNull()

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
movie_id                0
cast                    0
crew                    0
dtype: int64

# Find Duplicate Fields
- As stated above, the merge of the datasets may lead to duplicated fields.
- Therefore, to achieve atomic data it is best to remove duplicate fields before the analysis stage.
- To find these fields the most important features for the identified film was used to find duplicates.

In [11]:
# Find Duplicated Items and Insert into DataFrame
def duplicateField():
    key_fields_movies = ["original_title", "release_date", "title", "title", "cast", "crew"]
    
    duplicate_records_movies = movies[movies.duplicated(subset=key_fields_movies, keep=False)]
    print('Movie Duplicates: ', duplicate_records_movies)
duplicateField()

Movie Duplicates:  Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, movie_id, cast, crew]
Index: []

[0 rows x 23 columns]

In [12]:
# Double Check Nullability of DataFrame
def printIsNull():
    print(movies.isnull().sum())
    print(movies.info())
printIsNull()

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
movie_id                0
cast                    0
crew                    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              4809 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4809 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4809 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4809 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               4809 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB
None

In [13]:
# Print Shape of Dataset for validity
print(movies.shape)

(4809, 23)

# Conversion of Column Data
- Check relevant columns and investigate changes into more searchable and resultant data
- Check data types for visualisation stages are relevant
- Reduce the size of the dataset

In [14]:
# Observe what the data type of release_date
def printUpdatedReleaseDate():
    print(movies.head(1)['release_date'].dtype)
    print(movies.head(1)['release_date'])
printUpdatedReleaseDate()

object
0    2009-12-10
Name: release_date, dtype: object

In [15]:
# Object could influence the use of a string rather than datetime dtype
movies["release_date"] = movies["release_date"].apply(lambda x: [str(x)[:4]])

In [16]:
printUpdatedReleaseDate()

object
0    [2009]
Name: release_date, dtype: object

In [17]:
# Genres is a long column
def printGenres():
    print(movies["genres"].head(5))
printGenres()

0    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1    [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Name: genres, dtype: object

- Use literal evaluation to pull all the name columns out of genre column.
- Append the genre names to a list and return.
- Id columns are not relevant in current dataset so therefore can be reduced.

In [18]:
# Literal evaluation to Reduce Column
import ast

def convert_to_name(object):
    arr = []
    for i in ast.literal_eval(object):
        arr.append(i["name"])
    return arr

In [19]:
# Genre updated by applying function to genre items
movies["genres"] = movies["genres"].apply(convert_to_name)

In [20]:
# Check Column Update
printGenres()

0    [Action, Adventure, Fantasy, Science Fiction]
1                     [Adventure, Fantasy, Action]
2                       [Action, Adventure, Crime]
3                 [Action, Crime, Drama, Thriller]
4             [Action, Adventure, Science Fiction]
Name: genres, dtype: object

In [21]:
# Check Column 
def printKeywords():
    print(movies.head(5)["keywords"])
printKeywords()

0    [{"id": 1463, "name": "culture clash"}, {"id":...
1    [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2    [{"id": 470, "name": "spy"}, {"id": 818, "name...
3    [{"id": 849, "name": "dc comics"}, {"id": 853,...
4    [{"id": 818, "name": "based on novel"}, {"id":...
Name: keywords, dtype: object

In [22]:
# Literal Evaluation on Keyword Column
movies["keywords"] = movies["keywords"].apply(convert_to_name)

In [23]:

# Check literal evaluation update on Keywords
printKeywords()

0    [culture clash, future, space war, space colon...
1    [ocean, drug abuse, exotic island, east india ...
2    [spy, based on novel, secret agent, sequel, mi...
3    [dc comics, crime fighter, terrorist, secret i...
4    [based on novel, mars, medallion, space travel...
Name: keywords, dtype: object

In [24]:
def printCast():
    print(movies.head(5)["cast"])
printCast()

0    [{"cast_id": 242, "character": "Jake Sully", "...
1    [{"cast_id": 4, "character": "Captain Jack Spa...
2    [{"cast_id": 1, "character": "James Bond", "cr...
3    [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4    [{"cast_id": 5, "character": "John Carter", "c...
Name: cast, dtype: object

- To reduce cast column, lets take the first four cast members to reduce this column.
- Then return the updated list for each column.

In [25]:
# Extracts 4 names to reduce the column and appends to List
def convert_name_count(object):
    arr, count = [], 0
    for i in ast.literal_eval(object):
        if count != 4:
            arr.append(i["name"])
            count += 1
        else:
            break     
    return arr

In [26]:
# Literal Evaluation Application
movies["cast"] = movies["cast"].apply(convert_name_count)

In [27]:
# Check Literal Evaluation
printCast()

0    [Sam Worthington, Zoe Saldana, Sigourney Weave...
1    [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2    [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3    [Christian Bale, Michael Caine, Gary Oldman, A...
4    [Taylor Kitsch, Lynn Collins, Samantha Morton,...
Name: cast, dtype: object

In [28]:
# Check crew field
def printCrew():
    print(movies.head(5)["crew"])
printCrew()

0    [{"credit_id": "52fe48009251416c750aca23", "de...
1    [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    [{"credit_id": "54805967c3a36829b5002c41", "de...
3    [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4    [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
Name: crew, dtype: object

- From the crew column, the director is the most important field.
- Therefore, abstraction has taken place.

In [29]:
# Director is the main part of the crew field
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i["job"] == "Director":
            L.append(i["name"])
            break
            
    return L

In [30]:
# Director is set as crew column
movies["crew"] = movies["crew"].apply(fetch_director)

In [31]:
printCrew()

0        [James Cameron]
1       [Gore Verbinski]
2           [Sam Mendes]
3    [Christopher Nolan]
4       [Andrew Stanton]
Name: crew, dtype: object

- Investigating production_companies and spoken_languages.
- To reduce this section, remove the ids from the dictionary and return the list.

In [32]:
def printProductionCompany():
    print(movies.head(5)["production_companies"])
printProductionCompany()

0    [{"name": "Ingenious Film Partners", "id": 289...
1    [{"name": "Walt Disney Pictures", "id": 2}, {"...
2    [{"name": "Columbia Pictures", "id": 5}, {"nam...
3    [{"name": "Legendary Pictures", "id": 923}, {"...
4          [{"name": "Walt Disney Pictures", "id": 2}]
Name: production_companies, dtype: object

In [33]:
# Production Company column reduction
movies["production_companies"] = movies["production_companies"].apply(convert_to_name)

In [34]:
printProductionCompany()

0    [Ingenious Film Partners, Twentieth Century Fo...
1    [Walt Disney Pictures, Jerry Bruckheimer Films...
2                     [Columbia Pictures, Danjaq, B24]
3    [Legendary Pictures, Warner Bros., DC Entertai...
4                               [Walt Disney Pictures]
Name: production_companies, dtype: object

In [35]:
def printSpokenLanguages():
    print(movies.head()["spoken_languages"])
printSpokenLanguages()

0    [{"iso_639_1": "en", "name": "English"}, {"iso...
1             [{"iso_639_1": "en", "name": "English"}]
2    [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...
3             [{"iso_639_1": "en", "name": "English"}]
4             [{"iso_639_1": "en", "name": "English"}]
Name: spoken_languages, dtype: object

In [36]:
movies["spoken_languages"] = movies["spoken_languages"].apply(convert_name_count)

In [37]:
printSpokenLanguages()

0                        [English, Español]
1                                 [English]
2    [Français, English, Español, Italiano]
3                                 [English]
4                                 [English]
Name: spoken_languages, dtype: object

- To benefit our statistics in the visualisation stage;
    - Best not to evaluate any movies that have not been released yet.
    - Since they are not released, no one can watch them and therefore should not be recommended in our system.

In [38]:
# Check Not Released Films (Cannot Recommend a Film not Released)
def checkNotReleased():
    filtered_movies = movies[movies['status'] != 'Released']
    print(filtered_movies.info)
checkNotReleased()

<bound method DataFrame.info of        budget                             genres  \
2911        0                   [Drama, Romance]
4176  1900000                            [Drama]
4185  2000000                  [Drama, Thriller]
4407        0  [Action, Comedy, Science Fiction]
4459        0          [Comedy, Drama, Thriller]
4514    56000                      [Documentary]
4668        0                           [Comedy]
4760        0            [Drama, Comedy, Family]

                                         homepage      id  \
2911  https://www.facebook.com/eastsidestorymovie  357837
4176                                           -1  295886
4185    http://www.sonyclassics.com/higherground/   50875
4407                                           -1   43630
4459                                           -1   57294
4514       http://www.facebook.com/theharvestfilm   70875
4668                                           -1   40963
4760                                           -1   84659

                                               keywords original_language  \
2911  [dancing, competition, hotel, florida, dance t...                cs
4176                                                 []                en
4185  [baby, wife husband relationship, christian, f...                en
4407                                                 []                en
4459  [kidnapping, stand-up comedy, dark comedy, nig...                en
4514  [migration, immigration, agriculture, food, hu...                en
4668                                 [independent film]                en
4760                                                 []                en

                original_title  \
2911           Dancin' It's On
4176            Brotherly Love
4185             Higher Ground
4407       The Helix... Loaded
4459      Crying with Laughter
4514  The Harvest (La Cosecha)
4668            Little Big Top
4760             The Naked Ape

                                               overview  popularity  \
2911  This coming of age Dance Film, in the spirit o...    0.186234
4176  West Philadelphia basketball star Sergio Taylo...    1.367751
4185  A chronicle of one woman's lifelong struggle w...    1.699101
4407                                                       0.020600
4459  Powerfully redemptive and darkly comedic reven...    0.108135
4514  The story of the children who work 12-14 hour ...    0.010909
4668  An aging out of work clown returns to his smal...    0.092100
4760  The Naked Ape is a coming-of-age film followin...    0.077577

                                   production_companies  ... runtime  \
2911                                                 []  ...    89.0
4176                                                 []  ...    89.0
4185                                                 []  ...   109.0
4407                                                 []  ...    97.0
4459  [Scottish Screen, EM Media, BBC Scotland, Sync...  ...    93.0
4514                                                 []  ...    80.0
4668                                   [Fly High Films]  ...     0.0
4760                                                 []  ...   110.0

     spoken_languages           status                                tagline  \
2911        [English]  Post Production  Dancin' Like You've Never Seen Before
4176        [English]  Post Production                                     -1
4185        [English]  Post Production                                     -1
4407        [English]          Rumored                                     -1
4459        [English]          Rumored            A Bad Trip Down Memory Lane
4514               []          Rumored                                     -1
4668        [English]          Rumored                                     -1
4760               []          Rumored                                     -1

                         title vote_average vote_count movie_id  \
2911           Dancin' It's On          4.3          2   357837
4176            Brotherly Love          6.9         21   295886
4185             Higher Ground          5.3         14    50875
4407       The Helix... Loaded          4.8          2    43630
4459      Crying with Laughter          7.0          1    57294
4514  The Harvest (La Cosecha)          0.0          0    70875
4668            Little Big Top         10.0          1    40963
4760             The Naked Ape          5.0          1    84659

                                                   cast                 crew
2911  [Witney Carson, Chehon Wespi-Tschopp, Gary Dan...      [David Winters]
4176  [Keke Palmer, Cory Hardrict, Eric D. Hill Jr.,...         [Jamal Hill]
4185  [Vera Farmiga, Donna Murphy, Dagmara Domińczyk...       [Vera Farmiga]
4407                                                 []                   []
4459  [Stephen McCole, Malcolm Shields, Andrew Neil,...  [Justin Molotnikov]
4514                                                 []  [U. Roberto Romano]
4668  [Sid Haig, Richard Riehle, Mel England, Jacob ...                   []
4760  [Josh Wise, Chelse Swain, Sean Shanks, Amanda ...     [Daniel Mellitz]

[8 rows x 23 columns]>

In [39]:
# Remove anything that is not released (4809 Movies Before)
movies = movies[movies['status'] == 'Released']

In [40]:
print(movies.shape)

(4801, 23)

In [ ]:
movies.head(5)

- Store the variable to use in visualisation and EDA

In [41]:
%store movies

Stored 'movies' (DataFrame)